.search {
    transform: translateY(20px);
    text-align: center;
}

.search input {
    width: 600px;
    padding: 10px;
    border: 2px solid rgb(93, 93, 175);
    border-radius: 4px;
    font-size: 19px;
    outline: none;
}