.blog {
    width: 600px;
    height: auto;
    padding: 15px;
    margin: 20px;
    background: rgb(247, 246, 246);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.blog h3 {
    margin: 10px;
}

.blog h2 {
    margin: 10px;
    color: #333;
    font-weight: bold;
}

.blog article {
    margin: 10px;
    font-size: 19px;
}

.blog article p {
    word-wrap: break-word;
}

.blog:hover {
    opacity: 0.8;
}

.blog .blog-btn-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.blog-btn-container button {
    outline: none;
    border: none;
    width: 100px;
    margin: 10px;
    height: 45px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
}

.blog-btn-container button:nth-child(1) {
    background: rgb(117, 71, 71);
    color: #fff;
}